# keys
NEXT_PUBLIC_GOOGLE_SHEET_ID=
NEXT_PUBLIC_GOOGLE_SHEET_RANGE=
NEXT_PUBLIC_GOOGLE_CREDIENTAIL_PATH=

# in-house routes
NEXT_PUBLIC_REDIRECT_TO_LOGIN=
NEXT_PUBLIC_REDIRECT_TO_CREATE_ACCOUNT=
NEXT_PUBLIC_REDIRECT_TO_FORGOT_PASSWORD=
NEXT_PUBLIC_REDIRECT_TO_CREATE_PAGE=

# kill switch
NEXT_PUBLIC_ACTIVATE=""